.drag-area{
  border: 2px dashed #fff;
  border-radius: 10px;
  height: 360px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 50px;
  color: #fff;
}
.drag-area header{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 150%;
  width: 150%;
  object-fit: cover;
  border-radius: 5px;
}
.submit_btn{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.cancel_btn{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #ca0c2f;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  display: inline-block;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.radio-container label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.radio-container input[type="radio"]:checked + label:before {
  background-color: #000;
}

.radio-container input[type="radio"]:checked + label:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 3px;
  left: 5px;
}

