.drag-area{
  border: 2px dashed #fff;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;

  background: -webkit-linear-gradient(to right, #42009e 0%, #000000 51%, #42009e 100%);
  background: -moz-linear-gradient(to right, #42009e 0%, #000000 51%, #42009e 100%);
  background: -ms-linear-gradient(to right, #42009e 0%, #000000 51%, #42009e 100%);
  background: -o-linear-gradient(to right, #42009e 0%, #000000 51%, #42009e 100%);
  background: linear-gradient(to right, #42009e 0%, #000000 51%, #42009e 100%);

  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.drag-area .icon{
  font-size: 50px;
  color: #fff;
}
.drag-area header{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.drag-area span{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 150%;
  width: 150%;
  object-fit: cover;
  border-radius: 5px;
}