.row{
  height:auto;
  width: auto;
  justify-content: space-between;
}
.drag-area{
  border: 2px dashed #fff;
  border-radius: 30px;
  height: 400px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* for justifying cancel and submit buttons to the right and to the left */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.drag-area.active{
  border: 2px solid #fff;
  background: -webkit-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -moz-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -ms-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -o-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
}

.drag-area .icon{
  font-size: 50px;
  color: #fff;
}
.drag-area header{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area button:hover{
  background: -webkit-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -moz-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -ms-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: -o-linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  background: linear-gradient(to right, #0a0a0a 0%, #403000 51%, #0a0a0a 100%);
  font-weight: bold;
  color:#FFF;
  font-size: 22px;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}
/*for buttons Location*/
.drag-area .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.submit_btn{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
  margin:0;
}
.cancel_btn{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #fff;
  color: #ca0c2f;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}
.container label{
  color:black;
  font-size: 20px;
}
.modal-header{
  background-color:#2C2172;
}
.modal-header span{
  color:red;
}
.modal-title{
  color:gainsboro;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.modal-body{
  background-color:#2C2172;
}
.modal-body p{
  color:gainsboro;
  font:15px;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-footer{
  background-color:#2C2172;
}
.col-lg-6{
  float:left;
}
.col-lg-16{
  float:right;
}
.cardModified{
  width:300px; 
}