{% extends 'layouts/main.html' %} {% block title %}Caption - Define Me{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/upload.css">

<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
            <main class="main_full">
              <div class="container">
                  <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="image">
                    <input type="submit" value="Upload">
                  </form>
                </div>
            </main>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            <h2>
              Caption
            </h2>
            <textarea rows="4" cols="50" readonly>
              image captioning....  
            </textarea>

            <!--<input type="submit" value="Captioning...">-->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/upload.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}