{% extends 'layouts/main.html' %} {% block title %}Define Me{% endblock %}
{% block content %}

<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
            <img class="img-fluid" src="static/images/home-left.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            <h2>
              The smartest way to
              understand & describe
              Any IMAGE
            </h2>
            <p>
              will change the way you browse the internet! With our Image Captioning feature
            </p>
            <a class="primary_btn" href="caption.html">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="about" class="about_us_area section_gap_top">
  <div class="container">
    <div class="row about_content align-items-center">
      <div class="col-lg-6">
        <div class="section_content">
          <h6>About Us </h6>
          <p>Introducing the revolutionary browser that will change the way you browse the internet! With our Image
            Captioning feature, you can now easily understand and describe any image on the web
            Our browser uses advanced algorithms to analyze images and provide accurate captions that describe them in
            detail..</p>
          <a class="primary_btn" href="#LearnMore">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about_us_image_box justify-content-center">
          <!--<img class="img-fluid w-100" src="static/images/about_img.png" alt="">-->
          <video controls loop width="500px" height="500px" autoplay muted controls="controls">
            <source src="/static/videos/vid-1.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Learn" class="recent_update_area section_gap">
  <div class="container">
    <div class="recent_update_inner">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">
            Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">
            Our Vision
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">
            Technology
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row recent_update_text">
            <div class="col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="static/images/ha3.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section_content">
                <h6>Our Story</h6>
                <p>No more guessing games or struggling to comprehend what's in front of you.

                  Our browser uses advanced algorithms to analyze images and provide accurate captions that describe
                  them in detail.</p>
                <a class="primary_btn" href="caption.html"> Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row recent_update_text">
            <div class="col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="static/images/ha1.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section_content">
                <h6>Our Vision</h6>
                <p>Whether you're browsing social media, online shopping, or researching for work or school, our Image
                  Captioning feature will make your experience more accessible and enjoyable.
                  ​Say goodbye to frustration and confusion and hello to a new world of understanding with our
                  innovative browser. Try it today and see the difference for yourself!</p>
                <a class="primary_btn" href="caption.html">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row recent_update_text">
            <div class="col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="static/images/ha4.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section_content">
                <h6>Technology</h6>
                <p>Image captioning is the process of generating a textual description of an image using natural
                  language processing and computer vision techniques. It involves analyzing the visual content of an
                  image and generating a sentence or a paragraph that describes the objects</p>
                <a class="primary_btn" href="caption.html">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="LearnMore" class="about_us_area section_gap_top">
  <div class="container">
    <div class="row about_content align-items-center">
      <div class="col-lg-6">
        <div class="section_content">
          <h6>Learn More</h6>
          <p>Whether you're browsing social media, online shopping, or researching for work or school, our Image
            Captioning feature will make your experience more accessible and enjoyable.

            Say goodbye to frustration and confusion and hello to a new world of understanding with our innovative
            browser. Try it today and see the difference for yourself!</p>
          <a class="primary_btn" href="caption.html">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about_us_image_box justify-content-center">
          <img class="img-fluid w-100" src="static/images/oh.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}