{% extends 'layouts/main.html' %} {% block title %}ImageScribe{% endblock %}
{% block content %}


{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}