{% extends 'layouts/main.html' %} {% block title %}Caption - ImageScribe{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/upload.css">
<link rel="stylesheet" href="/static/css/upload1.css">



<div class="drag-area" enctype="multipart/form-data" action="/caption" method="POST">
  <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
  <header>Drag & Drop to Upload File</header>
  <span>OR</span>
  <button>Browse File</button>
  <input type="file" class="form-control" name="image">
  <div class="image-preview"></div>
</div>

<div class="button-container">
  <div class="button-row">
    <button class="submit-button" type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div class="button-row">
    <button class="submit-button" onclick="location.reload()">Reset</button>
  </div>
</div>

<section class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            {% if results %}
          <div class="banner_content">
            <h2>
              Caption
            </h2>
            <textarea rows="4" cols="50" readonly>
                {{results.description}}  </textarea>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/upload.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}