{% extends 'layouts/main.html' %} {% block title %}Caption - ImageScribe{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/upload.css">
<link rel="stylesheet" href="/static/css/radioButtins.css">
  <div class="banner_inner">
    <section class="home_banner_area">

      <div style="margin-top: 80px;" class="container mt-5">
      <div style="background: none;" class="jumbotron">
        <h1 style="text-align: center; color: white;" class="display-4">Welcome to our captioner!</h1>
        <p style="text-align: center; color: white;" class="lead">Generating Descriptive Image Captions Using Deep Learning In Seconds.
        </p>
        <hr style="background-color: white;" class="my-4">
        <p style="text-align: center;" class="lead">
          <!-- Button trigger modal -->
          <button type="button" class="primary_btn" data-toggle="modal" data-target="#exampleModalCenter">
            How It Works
          </button>
        </p>
      </div>
    
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Demo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Welcome to our image captioning website!<br>
               With our innovative platform, 
              you can easily generate captions for your images.<br> 
              Simply upload a photo by clicking the browse button or drag and drop it onto the designated area. <br>
              Once you've selected your image, click the submit button to generate automatic captions.<br>
              Our cutting-edge technology will analyze the contents of the image and provide descriptive captions that capture the essence of what's depicted. 
              From beautiful landscapes to adorable pets, 
              our image captioning system strives to deliver accurate and engaging descriptions.<br>
              Additionally, you have the option to save and load captions for future reference.<br> 
              If you're looking to translate the generated caption into a different language, 
              our website also provides a seamless translation feature. 
              You can effortlessly convert captions into the language of your choice, 
              allowing you to reach a broader audience and enhance communication.<br>
              Experience the power of image captioning and translation with our user-friendly website. |<br>
              Start exploring the endless possibilities today!<br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">        
        <div class="col-lg-6">
          <div class="home_left_img">

            <div class="container my-container">
              <input type="radio" name="option" value="option1" onchange="changeAction(this)"> <label>Flickr8k</label>
              <input type="radio" name="option" value="option2" onchange="changeAction(this)"> <label>Flickr30k</label>
              <input type="radio" name="option" value="option3" onchange="changeAction(this)"> <label>Vit-Gpt2-Image-Captioning</label>
              <div class="col-lg-6">

                <!--start of checker_form-->
                <div class="checker_form" id="checker-form">

                  <div class="drag-area row text-center justify-content-center">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <header class="drag-drop">Drag & Drop to Upload File</header>
                    <span>OR</span>
                    <button class="upload-btn">Browse File</button>
                    <input id="fileUpload" class="upload-file" type="file" hidden>
                  </div>

                  <!--start of submit and cancel buttons-->
                  <div class="row justify-content-end">
                    <div class="col-4">
                      <button id="cancel-upload" onclick="cancelUpload()" class="submit_btn">Cancel</button>
                    </div>
                    <div class="col-4">
                      <button id="myForm" onclick="submitUpload()" class="cancel_btn">Submit</button>
                    </div>
                  </div>
                  <!--end of submit and cancel buttons-->
                </div>
                <!--end of checker_form-->

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="container">
            <div class="card" style="width: 18rem;">
              <img id="image" class="card-img-top" src="/static/images/waiting.gif" alt="Card image cap">
              <div class="card-body">
                <h5 class="text-danger">Output Caption</h5>
                <div style="margin-bottom: 10px;" class='console-container'>
                  <span id="caption" class="card-text text-dark"> </span>
                  <div class='console-underscore' id='console'>&#95;</div>
                </div>
                <a id="reset-button" href="#" class="btn btn-primary">Reset Image</a>
                <a id="load-button" href="#" class="btn btn-primary">Load Caption</a><br>
                <hr>
                <form method="POST">
                  <div class="form-group">
                    <textarea name="text" cols="5" rows="3" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <label style="color: black;" for="language">Language:</label>
                    <select name="language" class="form-control">
                      <option value="en">English</option>
                      <option value="ar">Arabic</option>
                      <option value="it">Italian</option>
                      <option value="ja">Japanese</option>
                      <option value="ru">Russian</option>
                      <option value="de">German</option>
                    </select>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-success">Translate!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</section>
{% endblock %}

{% block script %}
<script>
  function submitUpload() {
    // create a new FormData object and append the selected file and file name to it
    var data = new FormData()
    data.append('image', file)
    data.append('name', fileName)

    // set the URL based on the radio button selection
    let url = ""

    // get all radio buttons with name "option"
    let radioButtons = document.getElementsByName("option");

    // loop through the radio buttons to check which one is checked
    for (let i = 0; i < radioButtons.length; i++) {
      if (radioButtons[i].checked) {
        // set the URL based on the checked radio button
        if (radioButtons[i].value === "option1") {
          url = "/flickr8k"
        } else if (radioButtons[i].value === "option2") {
          url = "/flickr30k"
        } else if (radioButtons[i].value === "option3") {
          url = "/VitGpt2ImageCaption"
        }
        break;
      }
    }

    // send the selected file to the backend for processing
    fetch(url, {
      method: 'POST',
      body: data,
      headers: {
        'Accept': 'application/json'
      }
    })
      .then(function (response) {
        // Check the Content-Type header of the response
        let contentType = response.headers.get('Content-Type');
        if (contentType && contentType.includes('application/json')) {
          // Parse the JSON response
          return response.json();
        } else {
          // Handle the response as plain text
          return response.text();
        }
      })
      .then(function (res) {
        // If the response is JSON
        if (typeof res === 'object') {
          let text = res.description;
          let img = res.image;

          //document.getElementById("caption").innerText = text; // display the caption directly on the page

          // Note: The reset function acceletate the _ in the caption --> find the root cause and solve it

          resetButton.click();
          consoleText([text], 'text', ['lightblue']);

          function consoleText(words, id, colors) {
            if (colors === undefined) colors = ['#fff'];
            var visible = true;
            var con = document.getElementById('console');
            var letterCount = 1;
            var x = 1;
            var waiting = false;
            var target = document.getElementById('caption')
            target.setAttribute('style', 'color:' + colors[0])
            window.setInterval(function () {

              if (letterCount === 0 && waiting === false) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount)
                window.setTimeout(function () {
                  var usedColor = colors.shift();
                  colors.push(usedColor);
                  var usedWord = words.shift();
                  words.push(usedWord);
                  x = 1;
                  target.setAttribute('style', 'color:' + colors[0])
                  letterCount += x;
                  waiting = false;
                }, 1000)
              } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount)
                letterCount += x;
              }
            }, 100)
            window.setInterval(function () {
              if (visible === true) {
                con.className = 'console-underscore hidden'
                visible = false;

              } else {
                con.className = 'console-underscore'

                visible = true;
              }
            }, 400)
          }
          document.getElementById("image").src = img;

          // reference to the <a> element with the id "load-button"
          var textareaElement = document.querySelector('textarea[name="text"].form-control');
          var loadButton = document.getElementById('load-button');

          // Add an event listener to the button
          loadButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link (e.g., navigating to another page)

            var textareaElement = document.querySelector('textarea[name="text"].form-control');
            textareaElement.value = text; // Append the value to the <textarea>
          });

        } else { // If the response is plain text
          console.log('Received plain text response:', res);
          // Handle the plain text response as needed
        }
      })
      .catch(function (error) {
        console.log('Error:', error);
      });
  }
  function cancelUpload() {
    //selecting all required elements
    var dropArea = document.querySelector(".drag-area");
    var uploadedImage = dropArea.querySelector("#uploaded-image");
    var newArea = `<div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <header class="drag-drop">Drag & Drop to Upload File</header>
                    <span>OR</span>
                    <button class="upload-btn">Browse File</button>
                    <input id="fileUpload" class="upload-file" type="file" hidden>`;
    dropArea.classList.remove("active");
    dropArea.removeChild(uploadedImage);
    dropArea.insertAdjacentHTML("afterbegin", newArea);
    var dragText = dropArea.querySelector(".drag-drop");
    var button = dropArea.querySelector(".upload-btn");
    var input = dropArea.querySelector(".upload-file");
    button.onclick = () => {
      input.click(); //if user click on the button then the input also clicked
    }
    input.addEventListener("change", function () {
      //getting user select file and [0] this means if user select multiple files then we'll select only the first one
      file = this.files[0];
      fileName = file.name;
      dropArea.classList.add("active");
      showFile(); //calling function
    });
    //If user Drag File Over DropArea
    dropArea.addEventListener("dragover", (event) => {
      event.preventDefault(); //preventing from default behaviour
      dropArea.classList.add("active");
      dragText.textContent = "Release to Upload File";
    });
    //If user leave dragged File from DropArea
    dropArea.addEventListener("dragleave", () => {
      dropArea.classList.remove("active");
      dragText.textContent = "Drag & Drop to Upload File";
    });
    //If user drop File on DropArea
    dropArea.addEventListener("drop", (event) => {
      event.preventDefault(); //preventing from default behaviour
      //getting user select file and [0] this means if user select multiple files then we'll select only the first one
      file = event.dataTransfer.files[0];
      fileName = file.name;
      showFile(); //calling function
    });
    function showFile() {
      let fileType = file.type; //getting selected file type
      let validExtensions = ["image/jpeg", "image/jpg", "image/png"]; //adding some valid image extensions in array
      if (validExtensions.includes(fileType)) { //if user selected file is an image file
        let fileReader = new FileReader(); //creating new FileReader object
        fileReader.onload = () => {
          let fileURL = fileReader.result; //passing user file source in fileURL variable
          let imgTag = `<img id="uploaded-image" src="${fileURL}" alt="${file.name}">`; //creating an img tag and passing user selected file source inside src attribute
          dropArea.innerHTML = imgTag; //adding that created img tag inside dropArea container
        }
        fileReader.readAsDataURL(file);
      } else {
        alert("This is not an Image File!");
        dropArea.classList.remove("active");
        dragText.textContent = "Drag & Drop to Upload File";
      }
    }
  };
</script>
<script>
  const cardImage = document.getElementById("image");
  const resetButton = document.getElementById("reset-button");
  const consoleContainer = document.querySelector('.console-container');
  let captionElement = document.getElementById('caption');
  var textareaElement = document.querySelector('textarea[name="text"].form-control');

  resetButton.addEventListener("click", function () {
    cardImage.src = "/static/images/waiting.gif";
    textareaElement.value = ""; // Append the value to the <textarea>

    // Remove the existing caption element and recreate it
    captionElement.remove();
    captionElement = document.createElement('span');
    captionElement.id = 'caption';
    captionElement.classList.add('card-text', 'text-dark');
    consoleContainer.prepend(captionElement);

    // Reset the content of the console element
    const consoleElement = document.getElementById('console');
    consoleElement.textContent = '_';
  });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/change-action.js"></script>
<script src="/static/js/darkmode.js"></script>
<script src="/static/js/upload.js"></script>
<script src="/static/js/js.js"></script>
{% endblock %}