{% extends 'layouts/main.html' %} 
{% block title %}Caption - ImageScribe{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/dragDropArea.css">
<section class="home_banner_area">
  <div class="banner_inner" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
            <div class="container">
              <input type="radio" name="option" value="option1" onchange="changeAction(this)"> Flickr8k
              <input type="radio" name="option" value="option2" onchange="changeAction(this)"> Flickr30k
              <input type="radio" name="option" value="option3" onchange="changeAction(this)"> Vit-Gpt2-Image-Captioning

              <div class="col-lg-6">
                <div class="checker_form" id="checker-form">
                    <div class="drag-area row text-center justify-content-center">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <header class="drag-drop">Drag & Drop to Upload File</header>
                        <span>OR</span>
                        <button class="upload-btn">Browse File</button>
                        <input id="fileUpload" class="upload-file" type="file" name="image" hidden>
                    </div>
                    <div class="row">
                        <div class="col button text-left">
                            <button id="cancel-upload" onclick="cancelUpload()" class="submit_btn">Cancel</button>
                        </div>
                        <div class="col button text-right">
                            <button id="submit-upload" onclick="submitUpload()" class="submit_btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            {% if results %}
            <div class="col-sm-4">
              <img style="height: 90%; width: 100%;" src="{{results.image}}">
            </div>
            <div class="col-sm-8">
              <p class="text">Generated Caption : </p>
              <p><b> {{results.description}} </b> </p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block script %}
<script src="/static/js/change-action.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/js.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/js/drag-drop.js"></script>
<script src="/static/js/upload.js"></script>
{% endblock %}