{% extends 'layouts/main.html' %} {% block title %}Caption - ImageScribe{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/upload.css">
<link rel="stylesheet" href="/static/css/upload1.css">


<section class="home_banner_area">
  <div class="banner_inner" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
            <div class="container">
              <form class="form-inline" enctype="multipart/form-data" action="/caption" method="POST">
                <label><b>Image: &nbsp;&nbsp; </b></label>
                <input type="file" class="form-control" name="image">

                <button type="submit" class="btn btn-primary"> Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            {% if results %}
            <div class="col-sm-4">
              <img style="height: 90%; width: 100%;" src="{{results.image}}">
            </div>
            <div class="col-sm-8">
              <p class="text">Generated Caption : </p>
              <p><b> {{results.description}} </b> </p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/isotope-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/upload.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}