<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="Define Me">
    <meta name="author" content="Omar Khalil">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Define Me">
    <meta property="og:locale" content="en_IE" />
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    {% block meta %}
    {% endblock %}
    <!-- /meta -->
    <link rel="icon" href="/static/images/dw.png" type="image/png">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style_1.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="index.html"><img src="static/images/dw.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a>
                            <li class="nav-item"><a class="nav-link" href="/#Learn">How it Works</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="/caption" class="primary_btn">Captioning</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}


    <footer class="footer_area section_gap_top">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-3 col-sm-6">
                    <aside class="f_widget ab_widget">
                    </aside>
                </div>
            </div>
            <div class="row single-footer-widget">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copy_right_text">
                        <p>
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made
                            with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/"
                                target="_blank">Define Me</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="social_widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block script %}{% endblock %}
</body>

</html>